/*  Shopping list item  */
.shopping-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

/*  Shopping list item - Drag icon  */
.item_drag-icon {
  width: 2.2rem;
  cursor: move;
}

/*  Shopping list item - Delete button */
.item_delete-btn {
  width: 1.8rem;
  border: none;
  background: transparent;
}
.item_delete-btn:hover img {
  opacity: 0.7;
}
.item_delete-btn:active img {
  opacity: 1;
}

/*  Shopping list item content  */
.item_content_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1rem 1.5rem;
  border-radius: 6px;
}

/*  Shopping list item content - Check input  */
.item_content-check {
  width: 13px;
  height: 13px;
  margin-right: 1rem;
  accent-color: var(--white);
  outline: 1px solid var(--dark-blue);
  cursor: pointer;
}
.item_content-check:hover {
  accent-color: var(--white);
}
.item_content-check:checked {
  accent-color: var(--blue);
}
.item_content-check:checked + label .item_content-description {
  text-decoration: line-through;
  opacity: 0.5;
}

/*  Shopping list item content - Description  */
.item_content-description {
  font-size: 1.5rem;
  font-weight: 400;
}

/*  Shopping list item content - Set amount buttons  */
.item_content_set-amount-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
}
.item_content_set-amount-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  max-width: 20px;
  padding: 0.4rem;
  border-radius: 50%;
  border: none;
  background: var(--gray);
}

/*  Shopping list item - Default and on checked state */
.item_drag-icon {
  opacity: 0;
  visibility: visible;
}
.item_delete-btn,
.item_content_set-amount-btns,
.item_drag-icon.item-checked,
.item_content_set-amount-btns.item-checked,
.shopping-list__item:hover .item_drag-icon.item-checked,
.shopping-list__item:hover .item_content_set-amount-btns.item-checked,
.shopping-list__item:active .item_drag-icon.item-checked,
.shopping-list__item:active .item_content_set-amount-btns.item-checked {
  opacity: 0;
  visibility: hidden;
}

/*  Shopping list item - On hover */
.shopping-list__item:hover .item_drag-icon,
.shopping-list__item:hover .item_delete-btn,
.shopping-list__item:hover .item_content_set-amount-btns,
.shopping-list__item:active .item_drag-icon,
.shopping-list__item:active .item_delete-btn,
.shopping-list__item:active .item_content_set-amount-btns {
  opacity: 1;
  visibility: visible;
}
.shopping-list__item:hover .item_content_container,
.shopping-list__item:active .item_content_container {
  background: var(--light-gray);
}

@media (max-width: 600px) {
  .item_drag-icon,
  .shopping-list__item:hover .item_drag-icon,
  .shopping-list__item:active .item_drag-icon {
    opacity: 0;
    visibility: hidden;
  }
}
